<h1>Login</h1>

<!-- <div class="row"> -->
	<div class="span6">
		<%= %>
		<%= link_to image_tag("sign_in_facebook.png", alt: "Sign in with Facebook"), "/auth/facebook" %>
	</div>
	
	<!-- <div class="span6">	
		<%= %>
		<%= link_to image_tag("sign_in_twitter.png", alt: "Sign in with Twitter"), "/auth/twitter" %>
	</div> -->
	
	<div class="span6">
		<%= %>
		<%= link_to image_tag("sign_in_google.png", alt: "Sign in with Google"), "/auth/google_oauth2" %>
	</div>
<!-- </div> -->
